{% extends 'layout.html' %}

{% block body %}
<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Welcome to Flask Apps</h1>
      <p class="lead">Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.</p>
      <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
    </div>
  </main>
{% endblock %}